/* base css file */

/* body, and then h1 for the header for the title */
/* main within the body, which contains the sections listed below */
/* classes of each of our names, in their own sections: .Jovi .Lindsay .Stevie .Asiya*/
/* each of these sections contains a button with an id each: #OpenA #OpenJ #OpenL #OpenS */
/*  */

/* play music from curated staff list from a spotify embedder */


/* genre buttons will generate a modal for each playlist, which will include a "like" button for them to click and image of album cover, which if clicked, will populate another modal with info and discovery. then button at bottom for concert info.*/


/* for h1, gets the class "title is-1" */
:root {
    --background: #aac6b3;
    --primary: #6a3937;
    --accent: #023660;
    --dark: #3b0d11;
    --light: #f8A29D;
}

*{
    font-family: 'Montserrat', sans-serif;
}
.hero {
    position: relative;
    background-image: url("../images/splash.jpg");
    background-size: cover;
    height: auto;
    background-attachment: scroll;
    background-repeat: no-repeat;
}
hero header {
    margin: 0 2px 2px 2px;
    padding: 1% 0 1% 5%;
    /* background-image: linear-gradient(to right, var(--background), var(--light), var(--primary), var(--dark)); */
}

#titleHeader {
    text-align: left;
}

body {
    position: relative;
    background-image: url("../images/background-2.jpg");
    background-color: var(--background);
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover;
    height: 100%;
}
/* below is to make the background image more transparent without affecting the text, by giving it a white overlay */
body::before{
    content: "";
    position:absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.2);
}

#mainPage {
    position: relative;
    padding: 2%;
    margin: 2%;
    height: 100%;
}

.allFour {
    align-self: center;
    border: 5px solid var(--light);
    border-radius: 10px;
    padding: 1%;
    margin: 1%;
    background-color: var(--light);
    /* background-image: linear-gradient(var(--light), var(--light) 75%, white 75%, white); */
    box-shadow: 5px 5px 3px var(--dark);
}

.bottomBar {
    position: relative;
    align-self: center;
    border: 5px solid var(--light);
    border-radius: 10px;
    padding: 1%;
    margin: 1%;
    background-color: var(--light);
    box-shadow: 5px 5px 3px var(--dark);
}

footer {
    position: relative;
    max-height: 10%;
    text-align: center;
    font-weight: bold;

}
/* main {
    
} */

 /* Jovi's CSS portion */
 @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100&family=Loved+by+the+King&display=swap');

*{
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(
    0deg, 
    rgb(203,155,158) 23.8%, 
    rgb(229,172,218)92%
    );
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.music-container1 {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 20px 20px 0 rgba(222, 123, 212, 0.6);
    display: flex;
    padding: 20px 30px;
    position: relative;
    margin: 100px 0;
    z-index: 10;
}

.img-container {
    position: relative;
    width: 110px;
}

.img-container::after {
    content: '';
    background-color: #fff;
    height: 20px;
    width: 20px;
    position: absolute;
    left: 50%;
    bottom: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.img-container img {
    width: inherit;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 0;

    animation: rotate 3s linear infinite;
    animation-play-state: paused;
}

.music-container1.play .img-container img {
    animation-play-state: running;

}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.navigation1 {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.action-btn {
    background-color: #fff;
    border: 0;
    color: #937EA1;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin: 0px 20px;
}

.action-btn-big {
    color: #937EA1;
    font-size: 30px;
}

action-btn:focus {
    outline: 0;
}

.music-info {
    background-color: rgba (225, 225, 225, 0.5);
    border-radius: 15px 15px 0 0;
    position: absolute;
    top: 0;
    left: 20px;
    padding: 10px 10px 10px 150px;
    width: calc(100% - 40px);
    opacity: 0;
    transform: translateY(0%);
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}

.music-info h4 {
    margin: 0;
}

.music-container1.play .music-info {
    opacity: 1;
    transform: translate(-100%);
}

.progress-container1 {
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 100%;
}

.progress1 {
    background-color: #fe8daa;
    border-radius: 5px;
    height: 100%;
    width: 50%;
    transition: width 0.1s linear;
}

